.adminBarContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 200px;
}

.adminBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.product{
    margin: 10px 10px;
    padding: 10px 10px;
}

.productContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.productCardAdmin{
    border: solid 0.5px rgba(0, 0, 0, 0.533);
    margin: 10px 10px;
    border-radius: 5px!important;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.494)!important;
}

.adminProductImg{
    width: 100%;
    object-fit: fill;
}

.buttonsContainer{
    display: flex;
    justify-content: center;
    margin: 10px 10px;
    gap: 10px;
    z-index: 0;
}